.book {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   height: 50vh;
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 15px;
    border:#000 1px solid;
    margin-top: 20px;
  }
  
  .price {
    color: grey;
    
  }
  
  .button {
    border: none;
    outline: 0;
   
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
     
    font-size: 18px;
    width: 200px;
  }
  
 .button:hover {
    opacity: 0.7;
  }
  .img{
    margin-top:10px;
   object-fit: cover;
   max-width:100px;
   max-height:200px;
  }