.container{
    background-color: black;
    position:relative;
}
.container1{
    display: flex;
    justify-content: center;
}
.line1{
    display: flex;
   justify-content: center;
   align-items: center;
   
}
.line2{
    display:flex;
    justify-content: center;
}